.button-style-inscription{
    background: rgba(255,255,255,0);
    border-radius: 20%;
    padding: 5px;
    border-color: #252525;
}

.button-style .text{

    bottom:30px;
    left:0px;
    visibility:hidden;
    color: white;
    font-size: 20px;
}

.button-style:hover .text{
    visibility: visible;
}

.button-style-galerie{
    background: rgba(255,255,255,0);
    border-radius: 20%;
    padding: 10px;
    border-color: #252525;
}
