.ProfileGroups {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  .Modal-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(40, 44, 52, 0.7);
    min-height: 100vh;
    min-width: 400px;
  }
  
  .Modal {
    position: relative;
    color: #282c34;
    font-size: 20px;
    min-width: 380px;
    width: 40%;
    padding-bottom: 80px;
    background-color: #ECF2F7;
    border-radius: 7px;
    top: 50vh;
    transform: translate(-50%, -50%);
    left: 50vw;
  }
  
  .Modal-close-button {
    border-radius: 50%;
    background-color: #EB8C98;
    font-size: 20px;
    color: #ECF2F7;
    right: 10px;
    top: 10px;
    position: absolute;
  }
  
  .Modal > * {
    border-radius: 7px;
  }
  
  .Header {
    padding: 50px 0 0;
    background-color: #f9fbfc;
  }
  
  .Header h2 {
    padding: 0 75px 20px;
  }
  
  .Header table.Informations {
    text-align: left;
    width: 100%;
  }
  
  .Header table.Informations { 
      border-collapse: collapse; 
  }
  .Header table.Informations > tbody > tr {
    border-bottom: solid 1px #DCE3EA;
  }
  .Header table.Informations > tbody > tr > td {
    width: 50%;
    padding: 15px;
  }
  .Header table.Informations > tbody > tr > td:first-child {
    font-weight: bold;
    text-align: right;
  }
  
  table.Players {
    width: 100%;
    border-collapse: collapse; 
  }
  
  table.Players > * > tr {
    border-bottom: 1px solid #DCE3EA;
  }
  table.Players > * > tr > * {
    padding: 8px;
  }
  
  table.Players > thead > tr {
    border: none;
    background-color: #DCE3EA;
  }
  
  #Unregister-button {
    border-radius: 6px;
    background-color: #EB8C98;
    font-size: 15px;
    color: #ECF2F7;
    padding: 4px 10px 4px 10px;
    cursor: pointer;
  }
  
  .Change-roles {
    border-radius: 6px;
    background-color: #7DA4EB;
    font-size: 15px;
    color: #ECF2F7;
    padding: 4px 10px 4px 10px;
    cursor: pointer;
  }
  