.About {
	text-align: center;
}

.About-us {
	margin-bottom: 60px;
}

.About-us-desc {
	margin-top: 30px;
}

.Team-picture {
	width: 400px;
	height: auto;
	border-radius: 5%;
}

@media only screen and (max-width: 650px) {
  .Team-picture {
    width: 200px;
  }
}

.Contact-us {
	background-color: white;
}

.Team-email {
	height: 30px;
	width: auto;
	padding-left: 20px;
}

table.Form-name {
	margin-top: 20px;
	text-align: center;
	width: 100%;
	margin-bottom: 100px;
}

table.Form-name td {
	text-align: left;
	padding-right: 10px;
}

table.Form-name td input, table.Form-name td textarea {
	text-align: left;
	width: 100%;
}

.btn-contact {
	background-color: #f6f6f6;
	color: white;
}

td input[type=text], td textarea[type=text] {
    background-color: #22427C;
    color: white;
    border: 1px solid white;
}
