

@media only screen and (min-height: 500px) and (max-height: 700px){
    #header {
        height: 15%;
    }
}

@media only screen and (max-height: 500px) {
    #header {
        height: 10%;
    }

    .title-header{
        font-size: 20px;
        vertical-align: top;
    }

    .redirect-page{
        font-size: 10px;
    }
}

@media only screen and (min-width: 10px) and (max-width: 500px){
    #header {
        height: 10%;
    }

    .title-header {
        font-size: 10px;
        vertical-align: top;
    }

    .nav-menu a {
        vertical-align: top;
        font-size: 5px;
        font-weight: 600;
    }
}

@media only screen and (min-width: 500px)  and (max-width: 770px){
    #header {
        height: 15%;
    }

    .title-header {
        font-size: 15px;
        vertical-align: top;
    }

    .nav-menu a {
        font-size: 6px;
        font-weight: 700;
    }
}

@media only screen and (min-width: 770px) and (max-width: 990px) {
    #header {
        height: 10%;
    }

    .title-header {
        font-size: 20px;
        vertical-align: top;
    }

    .nav-menu a {
        font-size: 10px;
        font-weight: 700;
    }
}


