@media only screen and (min-height: 500px) {
    .footer {
        border-top: 3px solid #1d8cf8;
        position: fixed;
        display: flex;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #1f2251;
    }
    .title {
        margin-top: 10px;
        margin-bottom: 5px;
        font-weight: 600;
        color: hsla(0, 0%, 100%, .8);
    }
}

@media only screen and (max-height: 500px) {
    .footer {
        border-top: 1px solid #1d8cf8;
        position: fixed;
        display: flex;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #1f2251;
        height: 50px;
    }
    .title {
        font-size: 25px;
        margin-top: 5px;
        margin-bottom: 2px;
        font-weight: 600;
        color: hsla(0, 0%, 100%, .8);
    }
    li a {
        font-size: 11px;
    }

    .all-right{
        font-size: 9px;
    }
}

@media only screen and (max-width: 575px) {
    .footer {
        border-top: 1px solid #1d8cf8;
        position: fixed;
        display: flex;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #1f2251;
        height: 50px;
    }

    .title {
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 2px;
        font-weight: 600;
        color: hsla(0, 0%, 100%, .8);
    }

    li a {
        font-size: 11px;
    }

    .all-right {
        font-size: 9px;
    }
}

@media only screen and (max-width: 390px) {
    .footer {
        border-top: 1px solid #1d8cf8;
        position: fixed;
        display: flex;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #1f2251;
        height: 50px;
    }

    .title {
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 2px;
        font-weight: 600;
        color: hsla(0, 0%, 100%, .8);
    }

    li a {
        font-size: 7px;
    }

    .all-right {
        font-size: 9px;
    }
}